
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Log Delivery sells Kiln Dried Logs, Ash logs, Silver Birch logs, kiln dried firewood, pizza oven logs, kiln dried wood for cooking, firewood, Fire Pit Logs, London, Surrey 7 days a week. Buy Firewood online, logs for bbq, logs for restaurants, logs for pubs">
    <meta name="author" content="">

    <title>kiln dried logs London, Kiln dried logs surrey, firewood supplier kiln dried wood, kiln dried firewood, firewood, hardwood, logs online, restaurant charcoal, Pizza oven logs, Restaurant logs</title>

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/616281a9-2745-4666-ae42-4b3b9120f273.css"/>


    <link href="/Content/bootstrap.min.css" rel="stylesheet"/>
<link href="/Content/carousel.css" rel="stylesheet"/>
<link href="/Content/jquery.bxslider.css" rel="stylesheet"/>
<link href="/Content/style.css" rel="stylesheet"/>

    <link rel="stylesheet" href="/Content/cookiecuttr.css" />
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <script src="/Scripts/ie-emulation-modes-warning.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->    
    <script src="/Scripts/jquery-1.10.2.js"></script>

    <script src="/Scripts/jquery.validate.js"></script>
<script src="/Scripts/jquery.validate.unobtrusive.js"></script>

     <script src="/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
</head>
<body>
    <%= link_to'About', about_path %>
<div class="navbar-wrapper">
    <div class="container">
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand logo" href="/"><img src="/images/logo.jpg" /></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse padding0">
                    <ul class="mobileView">
                        <li><a href="/areascovered">Areas Covered</a></li>
                        <li><a href="/deliveryschedule">Delivery Schedule</a></li>
                        <li><a href="/news">News</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <li><a href="/faqs">FAQs</a></li>
                                <li><a href="/product/kiln-dried-hardwood-logs"><div>Kiln Dried Hardwood Logs</div></a></li>        
                                <li><a href="/product/logs-for-pizza-ovens"><div>Logs for Pizza Ovens</div></a></li>        
                                <li><a href="/product/seasoned-logs"><div>Seasoned Logs</div></a></li>        
                                <li><a href="/product/log-packages"><div>Log Packages</div></a></li>        
                                <li><a href="/product/smokeless-coal"><div>Smokeless Coal</div></a></li>        
                                <li><a href="/product/log-stores"><div>Log Stores</div></a></li>        
                                <li><a href="/product/top-ups-kindling"><div>Top Ups &amp; Kindling</div></a></li>        
                                                    <li><a href="/basket">View Basket</a></li>
                            <li><a data-toggle="modal" data-target="#loginModal" href="#contact">Login/Register</a></li>
                    </ul>
                </div>
                <div id="menu1" class="navbar-collapse desktopMenu collapse padding0">
                    <ul class="topMenu">
                        <li><a href="/areascovered">Areas Covered</a></li>
                        <li><a href="/deliveryschedule">Delivery Schedule</a></li>
                        <li><a href="/news">News</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <li><a href="/faqs">FAQs</a></li>
                        
                            <li><a id="viewBasket" href="/basket"><img src="/images/viewBasket.png"></a></li>
                                                    <li><a href="#" data-toggle="modal" data-target="#loginModal"><img src="/images/loginRegisterBtn.png"></a></li>
                        
                    </ul>
                </div>
                <div id="menu2" class="navbar-collapse desktopMenu collapse padding0">
                    <ul class="mainMenu">
                                <li><a href="/product/kiln-dried-hardwood-logs">Kiln Dried Hardwood Logs</a></li>
                                <li><a href="/product/logs-for-pizza-ovens">Logs for Pizza Ovens</a></li>
                                <li><a href="/product/seasoned-logs">Seasoned Logs</a></li>
                                <li><a href="/product/log-packages">Log Packages</a></li>
                                <li><a href="/product/smokeless-coal">Smokeless Coal</a></li>
                                <li><a href="/product/log-stores">Log Stores</a></li>
                                <li><a href="/product/top-ups-kindling">Top Ups &amp; Kindling</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>

    

<div class="homeslider">
    <div class="container relative">
        <img class="headerordertoday" src="/images/orderToday.png">
    </div>
        <ul class="bxslider">
                <li>
                    <img class="slidermasterimg" src="http://www.log-delivery.co.uk/siteuploads//homeassets/slider_kindling_bucket.jpg">
                    <div class="container">
                        <div class="slidercontent">
                            <div class="col1">
                                <h3>Don&#39;t forget your kindling</h3>
                                <img src="/images/freeDelivery.png">
                                <p class="captionText">Type your postcode into the field below to see if we can deliver to you for free.</p>
                                <div class="deliveryCheck">
                                    <input type="number" placeholder="Type postcode"><a href="#"><img src="/images/submit.png"></a>
                                </div>
                            </div>
                            <div class="col2">
                                <div class="freedeliverdiv">
                                    <h2><a href="http://www.log-delivery.co.uk/product/kiln-dried-hardwood-logs">HALF TERM SALE NOW ON!</a></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <img class="slidermasterimg" src="http://www.log-delivery.co.uk/siteuploads//homeassets/slider_olive_bag.jpg">
                    <div class="container">
                        <div class="slidercontent">
                            <div class="col1">
                                <h3>Olive Wood Barrow Bag</h3>
                                <img src="/images/freeDelivery.png">
                                <p class="captionText">Type your postcode into the field below to see if we can deliver to you for free.</p>
                                <div class="deliveryCheck">
                                    <input type="number" placeholder="Type postcode"><a href="#"><img src="/images/submit.png"></a>
                                </div>
                            </div>
                            <div class="col2">
                                <div class="freedeliverdiv">
                                    <p></p><h2>OLIVE WOOD FIREWOOD BAGS</h2><h6>Try our Olive Wood barrow bags to add character to your fire, better still use it for cooking outside on your BBQ or wood fired pizza oven. <a href="http://www.log-delivery.co.uk/product/detail/olive-wood-barrow-bag-x1">Click here to buy online.</a></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <img class="slidermasterimg" src="http://www.log-delivery.co.uk/siteuploads//homeassets/slider_bike.jpg">
                    <div class="container">
                        <div class="slidercontent">
                            <div class="col1">
                                <h3>Free Delivery</h3>
                                <img src="/images/freeDelivery.png">
                                <p class="captionText">Type your postcode into the field below to see if we can deliver to you for free.</p>
                                <div class="deliveryCheck">
                                    <input type="number" placeholder="Type postcode"><a href="#"><img src="/images/submit.png"></a>
                                </div>
                            </div>
                            <div class="col2">
                                <div class="freedeliverdiv">
                                    <h2>FREE DELIVERY 7 DAYS A WEEK</h2><h6>Deliverys to our customers in London and Surrey are made using our own drivers and trucks.</h6><h6><a href="http://www.log-delivery.co.uk/product/kiln-dried-hardwood-logs">Book your order online today.</a></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <img class="slidermasterimg" src="http://www.log-delivery.co.uk/siteuploads//homeassets/slider_logs.jpg">
                    <div class="container">
                        <div class="slidercontent">
                            <div class="col1">
                                <h3>Pick When We Deliver</h3>
                                <img src="/images/freeDelivery.png">
                                <p class="captionText">Type your postcode into the field below to see if we can deliver to you for free.</p>
                                <div class="deliveryCheck">
                                    <input type="number" placeholder="Type postcode"><a href="#"><img src="/images/submit.png"></a>
                                </div>
                            </div>
                            <div class="col2">
                                <div class="freedeliverdiv">
                                    <h2>PICK A TIME FOR US TO DELIVER YOUR LOGS TO YOU<br /></h2><h6><a href="http://www.log-delivery.co.uk/areascovered">If you are in London or Surrey then we offer four 3 hour delivery slots each day</a>.<br /></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <img class="slidermasterimg" src="http://www.log-delivery.co.uk/siteuploads//homeassets/slider_stove.jpg">
                    <div class="container">
                        <div class="slidercontent">
                            <div class="col1">
                                <h3>Small Logs</h3>
                                <img src="/images/freeDelivery.png">
                                <p class="captionText">Type your postcode into the field below to see if we can deliver to you for free.</p>
                                <div class="deliveryCheck">
                                    <input type="number" placeholder="Type postcode"><a href="#"><img src="/images/submit.png"></a>
                                </div>
                            </div>
                            <div class="col2">
                                <div class="freedeliverdiv">
                                    <h2>SMALL 20CM LOGS FOR SMALL STOVES<br /></h2><h6>We also provide 20cm length Kiln Dried Silver Birch logs for smaller stoves and fireplaces inserts. <a href="http://www.log-delivery.co.uk/product/detail/kiln-dried-silver-birch-logs---14-pallet-20-nets-10-12kg-nets-20cm-">Click here to buy online.</a><br /></h6><h6><br /></h6><h1 class="number"><br /></h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
        </ul>
</div>

<div class="homeimg">
    <img src="http://www.log-delivery.co.uk/siteuploads//homeassets/slider_kindling_bucket.jpg">
</div>
<div class="container marketing">
    <div class="panel-body">
        <p><a href="http://www.log-delivery.co.uk/product/kiln-dried-hardwood-logs">Buy Firewood online</a> from the most reliable London Log Company. <strong>If you would like Logs delivering this weekend we still have some space left on our log delivery trucks,&nbsp;</strong>order kiln dried firewood now!! Our <a href="http://www.log-delivery.co.uk/product/kiln-dried-hardwood-logs">Kiln dried wood</a> is ready to burn and produces more heat than <a href="http://www.log-delivery.co.uk/product/seasoned-logs">seasoned hardwood logs</a>. We have plenty <a href="http://log-delivery.co.uk/product/detail/kiln-dried-ash-logs---quarter-pallet-20-nets-10-12kg-nets-25cm-length">Kiln Dried Ash,</a> Kiln dried <a href="http://log-delivery.co.uk/product/detail/kiln-dried-silver-birch-logs---14-pallet-20-nets-10-12kg-nets-25cm-length">Silver Birch</a> in stock for the whole season.</p><p>We also sell <a href="http://www.log-delivery.co.uk/product/kiln-dried-hardwood-logs">Kiln Dried hardwood</a> logs to Pizza Restaurants, Bakeries, outside event companies, local pubs who have BBQ's and open fires, garden centers. If you like to talk to us about using a local log supplier for your restaurant in London or Surrey, who is reliable then please <a href="http://www.log-delivery.co.uk/contact">Click Here to contact us</a>. We offer trade prices on firewood. Our Speedy 7 day a week log delivery service is the best way to order <a href="http://www.log-delivery.co.uk/product/kiln-dried-hardwood-logs">kiln dried wood</a>.</p><p>We deliver 7 days a week over the summer and winter months. <a href="http://www.log-delivery.co.uk/contact">Click here to go to our contact page for further details</a>.<br /></p><p>Our <a href="http://www.log-delivery.co.uk/product/kiln-dried-hardwood-logs">kiln dried logs</a> are the best hardwood logs for firepits, chimineas and wood fired pizza ovens too as they are very low in moisture, making them the best logs for cooking over the summer. Try our <a href="http://www.log-delivery.co.uk/product/detail/kiln-dried-silver-birch-logs---14-pallet-20-nets-10-12kg-nets-20cm-">20cm length silver birch logs</a> and add <a href="http://www.log-delivery.co.uk/product/detail/olive-wood-10-12-kg-bags-x-10">Olive Wood</a> from our <a href="http://www.log-delivery.co.uk/product/top-ups-kindling">Top Ups and Kindling Section</a> to create amazing flavours on your BBQ this season.</p><p><a href="http://www.log-delivery.co.uk/product/kiln-dried-hardwood-logs">END OF SEASON SALE NOW ON!!!!</a><br /></p><p>Log Delivery's high quality <a href="http://www.log-delivery.co.uk/product/kiln-dried-hardwood-logs">Kiln Dried Hardwood logs</a>, <a href="http://www.log-delivery.co.uk/product/detail/premium-kiln-dried-ash-logs-1m3-crate">Kiln dried crates</a>, local <a href="http://www.log-delivery.co.uk/product/seasoned-logs">Seasoned Hardwood</a> firewood are available online or <a href="http://www.log-delivery.co.uk/contact">collect from our warehouse in Walton on Thames, Surrey, KT12&nbsp;3PW,</a> they are very dry logs perfect for your stove or fireplace. We are as committed to the environment as we are to our customers. Our <a href="http://www.log-delivery.co.uk/product/detail/local-kindling-net-4-kg-x2">Kindling</a> comes from Hambledon, our <a href="http://www.log-delivery.co.uk/product/detail/local-seasoned-hardwood-logs-13m3-bulk-bags">seasoned hardwood logs</a> come from local forestry work in Guildford.</p><p><strong>Our mission is to have all our hardwood firewood sourced locally from Surrey Hills.</strong></p><p><strong><a href="http://www.log-delivery.co.uk/product/detail/kiln-dried-silver-birch-logs---14-pallet-20-nets-10-12kg-nets-20cm-">Click here to buy Kiln dried Hardwood nets in 20cm</a> lengths, or <a href="http://www.log-delivery.co.uk/product/detail/kiln-dried-ash-logs---quarter-pallet-20-nets-10-12kg-nets-25cm-length">click here to buy our 25cm length logs of Kiln Dried Birch</a>&nbsp;in nets. For the best value <a href="http://www.log-delivery.co.uk/product/detail/premium-kiln-dried-ash-logs-1m3-crate">click&nbsp;here to buy our 1m3 crates of Kiln Dried Ash logs.</a></strong></p><p><strong>If you are looking to order smaller amounts of kiln dried hardwood&nbsp;<a href="http://www.log-delivery.co.uk/product/logs-for-pizza-ovens">logs for your Pizza Oven</a>, or would like to make up a small order of kiln dried logs for your firepit, BBQ or chimnea, then <a href="http://www.log-delivery.co.uk/product/top-ups-kindling">CLICK HERE</a> to use our <a href="http://www.log-delivery.co.uk/product/top-ups-kindling">Top Ups and Kindling</a> page to create your own small order. Kiln dried <a href="http://www.log-delivery.co.uk/product/detail/kiln-dried-logs-for-pizza-ovens-20cm-birch">Silver birch</a>&nbsp;is a good first order if you you are new to cooking on wood, or are hoping to be a pit master!</strong></p><p></p><p></p><p></p><p></p>
    </div>
    <!-- Three columns of text below the carousel -->
    <div class="panel-body steps">
        <div class="col-xs-6 col-sm-3">
            <img src="/images/step1.png">
        </div>
        <div class="col-xs-6 col-sm-3">
            <img src="/images/step2.png">
        </div>
        <div class="col-xs-6 col-sm-3">
            <img src="/images/step3.png">
        </div>
        <div class="col-xs-6 col-sm-3">
            <img src="/images/step4.png">
        </div>
    </div>
    <div class="panel-body">
        <div class="bottomTreeBorder padding0">
            <div class="col-xs-12 col-sm-6 col-md-8 padding0 topSellerHeading">
                <h1 class="divTitleText">TOP SELLERS</h1>
            </div>
            <div class="col-xs-6 col-md-4 arrows">
                <img src="/images/arrowLeft.png" onclick="slideLeft()">
                <img src="/images/arrowRight.png" onclick="slideRight()">
            </div>
        </div>
        <div class="sellingItems">
            <div class="slider">
                        <div id="sell1" class="item">
                            <img src="http://www.log-delivery.co.uk/siteuploads//category/kiln_dried_365x365.jpg">
                            <h3 class="sellerTitle">Kiln Dried Hardwood Logs</h3>
                            <div class="itemHover">
                            </div>
                            <div class="itemHoverContent">
                                <h3 class="itemHoverTitle">Kiln Dried Hardwood Logs</h3>
                                <div class="itemHoverBody">Buy kiln dried firewood online, perfect dry logs for stoves, fireplaces, wood fired pizza ovens, fire pits and chimineas. Kiln dried Silver Birch and Ash in nets,  barrow bags, or to satisfy your big stoves hunger for logs buy crates of ash logs and bulk bags of kiln dried firewood to keep yourself well stocked. Buy 20cm length kiln dried silver birch logs, perfect for small stoves. Our 25cm length silver birch and ash firewood logs are great for large stoves above 5kW. All our kiln dried firewood can be used for outside cooking and wood fired ovens.</div>
                                <a href="/product/kiln-dried-hardwood-logs">
                                    <img src="/images/findMore.png" style="cursor:pointer">
                                </a>
                            </div>
                        </div>
                        <div id="sell2" class="item">
                            <img src="http://www.log-delivery.co.uk/siteuploads//category/seasoned_dried_365x365.jpg">
                            <h3 class="sellerTitle">Seasoned Logs</h3>
                            <div class="itemHover">
                            </div>
                            <div class="itemHoverContent">
                                <h3 class="itemHoverTitle">Seasoned Logs</h3>
                                <div class="itemHoverBody">Buying our British seasoned hardwood logs in dumpy bags, helps us support the rural British economy and bring neglected woodlands back into management. Our local seasoned hardwood logs have been naturally air dried for 12-18 months, reducing the moisture content to around 18-25%. Our locally sourced hard wood logs are sourced within 10 miles of us and our reputation for well seasoned firewood is something we are proud of. Our Olive wood bags are also in this section!</div>
                                <a href="/product/seasoned-logs">
                                    <img src="/images/findMore.png" style="cursor:pointer">
                                </a>
                            </div>
                        </div>
                        <div id="sell3" class="item">
                            <img src="http://www.log-delivery.co.uk/siteuploads//category/log_packages_365x365.jpg">
                            <h3 class="sellerTitle">Log Packages</h3>
                            <div class="itemHover">
                            </div>
                            <div class="itemHoverContent">
                                <h3 class="itemHoverTitle">Log Packages</h3>
                                <div class="itemHoverBody">In a hurry to buy firewood or smokeless fuel online? Don't know what to order on your first log delivery? Click here to see our ready made packages of kiln dried logs and kindling combinations, olive wood and kindling packages along with fuel for multi fuel stoves which include the right amount of smokeless fuel, kindling and natural eco firelighters. Buying your fuel for your stove or fireplace has just got even easier!</div>
                                <a href="/product/log-packages">
                                    <img src="/images/findMore.png" style="cursor:pointer">
                                </a>
                            </div>
                        </div>
                        <div id="sell5" class="item">
                            <img src="http://www.log-delivery.co.uk/siteuploads//category/smokeless_coal_365x365.jpg">
                            <h3 class="sellerTitle">Smokeless Coal</h3>
                            <div class="itemHover">
                            </div>
                            <div class="itemHoverContent">
                                <h3 class="itemHoverTitle">Smokeless Coal</h3>
                                <div class="itemHoverBody">Smokeless fuel is perfect for multifuel stoves and open fireplaces and can be used in smokeless zones like London. It burns for a long time and can be used with seasoned firewood or kiln dried logs to create a nice hot base for your firewood. With less reloading time it is popular for those who want to enjoy the benefits of over night burning where your stove will still be lovely and warm in the morning.</div>
                                <a href="/product/smokeless-coal">
                                    <img src="/images/findMore.png" style="cursor:pointer">
                                </a>
                            </div>
                        </div>
                        <div id="sell4" class="item">
                            <img src="http://www.log-delivery.co.uk/siteuploads//category/log_store_365x365.jpg">
                            <h3 class="sellerTitle">Log Stores</h3>
                            <div class="itemHover">
                            </div>
                            <div class="itemHoverContent">
                                <h3 class="itemHoverTitle">Log Stores</h3>
                                <div class="itemHoverBody">Log Stores are the perfect place to store your kiln dried logs or seasoned logs. Our Log stores are made here in England and are delivered flat packed, with the base, the sides and the top all pre assembled, screws are provided too! Storing your logs in a log store is best and these very well built, strong logs stores can easily store 20 nets of kiln dried logs. </div>
                                <a href="/product/log-stores">
                                    <img src="/images/findMore.png" style="cursor:pointer">
                                </a>
                            </div>
                        </div>
                        <div id="sell6" class="item">
                            <img src="http://www.log-delivery.co.uk/siteuploads//category/kindling_net_365x365.jpg">
                            <h3 class="sellerTitle">Top Ups &amp; Kindling</h3>
                            <div class="itemHover">
                            </div>
                            <div class="itemHoverContent">
                                <h3 class="itemHoverTitle">Top Ups &amp; Kindling</h3>
                                <div class="itemHoverBody">You can add smaller amounts of kiln dried log bags in nets, Olive wood, smokeless fuel and firelighters to your order, perfect if you want to try something new or simply want to top up your order and give some to your neighbour to try. If you have a wood fired pizza oven and need kiln dried logs for pizza ovens, this is where you can order a few bags to start cooking with wood! You will also find our  Natural Firelighters here. All very easy.</div>
                                <a href="/product/top-ups-kindling">
                                    <img src="/images/findMore.png" style="cursor:pointer">
                                </a>
                            </div>
                        </div>
            </div>



        </div>
        <div class="bottomTreeBorder padding0">
            <div class="col-xs-12 col-sm-6 col-md-8 padding0 topSellerHeading">
                <h1 class="divTitleText">TOP PRODUCTS</h1>
            </div>
            <div class="col-xs-6 col-md-4 arrows">
                <img src="/images/arrowLeft.png" onclick="slide1Left()">
                <img src="/images/arrowRight.png" onclick="slide1Right()">
            </div>
        </div>
        <div class="sellingItems">
            <div class="slider1">
                        <div id="sell73" class="item">
                            <img src="http://www.log-delivery.co.uk/siteuploads//products/KDO001-020/birch_net_20cmx20.jpg">
                            <h3 class="sellerTitle">Kiln Dried Oak Logs - Quarter Pallet (20 Nets) 10-12KG Nets 20cm Length</h3>
                            <div class="itemHover">
                            </div>
                            <div class="itemHoverContent">
                                <h3 class="itemHoverTitle">Kiln Dried Oak Logs - Quarter Pallet (20 Nets) 10-12KG Nets 20cm Length</h3>
                                <div class="itemHoverBody">20 X Nets of Kiln Dried Oak Logs 20cm length</div>
                                <a href="/product/detail/kiln-dried-oak-logs---quarter-pallet-20-nets-10-12kg-nets-20cm-length">
                                    <img src="/images/findMore.png" style="cursor:pointer">
                                </a>
                            </div>
                        </div>
                        <div id="sell67" class="item">
                            <img src="http://www.log-delivery.co.uk/siteuploads//products/KDA003/Largeg logs, 50cm ash logs, large kiln dried logs, large firewood, large firewood logs.jpg">
                            <h3 class="sellerTitle">Large Ash Fire Pit Logs Logs 50cm -1m3 crate</h3>
                            <div class="itemHover">
                            </div>
                            <div class="itemHoverContent">
                                <h3 class="itemHoverTitle">Large Ash Fire Pit Logs Logs 50cm -1m3 crate</h3>
                                <div class="itemHoverBody">Looking for the largest Kiln Dried Ash Logs? Check out our crates of 50cm big Ash logs for big open fires and fire pits</div>
                                <a href="/product/detail/large-ash-fire-pit-logs-logs-50cm--1m3-crate">
                                    <img src="/images/findMore.png" style="cursor:pointer">
                                </a>
                            </div>
                        </div>
                        <div id="sell57" class="item">
                            <img src="http://www.log-delivery.co.uk/siteuploads//products/OWL001 - 002/olive_wood_sack_x2.jpg">
                            <h3 class="sellerTitle">Olive Wood 10-12kg Bags X 2</h3>
                            <div class="itemHover">
                            </div>
                            <div class="itemHoverContent">
                                <h3 class="itemHoverTitle">Olive Wood 10-12kg Bags X 2</h3>
                                <div class="itemHoverBody">10-12kg Bags X 2 of Olive Wood logs A perfect top up to your order and bring joy to your fire</div>
                                <a href="/product/detail/olive-wood-10-12kg-bags-x-2">
                                    <img src="/images/findMore.png" style="cursor:pointer">
                                </a>
                            </div>
                        </div>
                        <div id="sell45" class="item">
                            <img src="http://www.log-delivery.co.uk/siteuploads//products/KDB001 - 070/birch_net_20cmx70.jpg">
                            <h3 class="sellerTitle">Kiln Dried Silver Birch Logs -  Full Pallet (70 Nets) 10-12KG Nets 20cm</h3>
                            <div class="itemHover">
                            </div>
                            <div class="itemHoverContent">
                                <h3 class="itemHoverTitle">Kiln Dried Silver Birch Logs -  Full Pallet (70 Nets) 10-12KG Nets 20cm</h3>
                                <div class="itemHoverBody">Kiln Dried Logs (70 Nets) 20cm for Small Stoves</div>
                                <a href="/product/detail/kiln-dried-silver-birch-logs---full-pallet-70-nets-10-12kg-nets-20cm">
                                    <img src="/images/findMore.png" style="cursor:pointer">
                                </a>
                            </div>
                        </div>
                        <div id="sell26" class="item">
                            <img src="http://www.log-delivery.co.uk/siteuploads//products/KBB001 - 001/white_sack_birch_x1.jpg">
                            <h3 class="sellerTitle">Kiln Dried Logs, Hardwood Barrow Bag X 1, Ash and Birch Mix</h3>
                            <div class="itemHover">
                            </div>
                            <div class="itemHoverContent">
                                <h3 class="itemHoverTitle">Kiln Dried Logs, Hardwood Barrow Bag X 1, Ash and Birch Mix</h3>
                                <div class="itemHoverBody">Kiln dried Ash and Silver Birch Logs in a Barrow Bag. Perfect for outside cooking on fire pits and pizza ovens and stoves.</div>
                                <a href="/product/detail/kiln-dried-logs-hardwood-barrow-bag-x-1-ash-and-birch-mix">
                                    <img src="/images/findMore.png" style="cursor:pointer">
                                </a>
                            </div>
                        </div>
                        <div id="sell19" class="item">
                            <img src="http://www.log-delivery.co.uk/siteuploads//products/PKDLCX2/log_crate_x2.jpg">
                            <h3 class="sellerTitle">Premium Kiln Dried Ash Logs 2 X1m3 Crates</h3>
                            <div class="itemHover">
                            </div>
                            <div class="itemHoverContent">
                                <h3 class="itemHoverTitle">Premium Kiln Dried Ash Logs 2 X1m3 Crates</h3>
                                <div class="itemHoverBody">2 Crates of Premium Kiln Dried Ash Logs, loose volume is same as 3-4 builders bags</div>
                                <a href="/product/detail/premium-kiln-dried-ash-logs-2-x1m3-crates">
                                    <img src="/images/findMore.png" style="cursor:pointer">
                                </a>
                            </div>
                        </div>
                        <div id="sell12" class="item">
                            <img src="http://www.log-delivery.co.uk/siteuploads//products/LSS001/log_store_365x365.jpg">
                            <h3 class="sellerTitle">Small Log Store in grade &quot;A&quot; Joinery Pine - Pressure treated</h3>
                            <div class="itemHover">
                            </div>
                            <div class="itemHoverContent">
                                <h3 class="itemHoverTitle">Small Log Store in grade &quot;A&quot; Joinery Pine - Pressure treated</h3>
                                <div class="itemHoverBody">Waterproof Log Store for keeping your logs dry all year round.</div>
                                <a href="/product/detail/small-log-store-in-grade-a-joinery-pine---pressure-treated">
                                    <img src="/images/findMore.png" style="cursor:pointer">
                                </a>
                            </div>
                        </div>
                        <div id="sell4" class="item">
                            <img src="http://www.log-delivery.co.uk/siteuploads//products/KDB002 - 020/birch_netl_x20.jpg">
                            <h3 class="sellerTitle">Kiln Dried Silver Birch Logs - 1/4 Pallet (20 Nets) 10-12KG Nets 25cm Length</h3>
                            <div class="itemHover">
                            </div>
                            <div class="itemHoverContent">
                                <h3 class="itemHoverTitle">Kiln Dried Silver Birch Logs - 1/4 Pallet (20 Nets) 10-12KG Nets 25cm Length</h3>
                                <div class="itemHoverBody">20 nets of Kiln Dried Silver Birch 10-12KG per net, perfect logs for large pizza ovens and stoves</div>
                                <a href="/product/detail/kiln-dried-silver-birch-logs---14-pallet-20-nets-10-12kg-nets-25cm-length">
                                    <img src="/images/findMore.png" style="cursor:pointer">
                                </a>
                            </div>
                        </div>
                        <div id="sell3" class="item">
                            <img src="http://www.log-delivery.co.uk/siteuploads//products/KDB002 - 035/birch_net_x35.jpg">
                            <h3 class="sellerTitle">Kiln Dried Silver Birch Logs - 1/2 Pallet (35 Nets) 10-12KG Nets 25cm Length</h3>
                            <div class="itemHover">
                            </div>
                            <div class="itemHoverContent">
                                <h3 class="itemHoverTitle">Kiln Dried Silver Birch Logs - 1/2 Pallet (35 Nets) 10-12KG Nets 25cm Length</h3>
                                <div class="itemHoverBody">35 nets of Kiln Dried Birch nets offer best value, they have a moisture content of 12%</div>
                                <a href="/product/detail/kiln-dried-silver-birch-logs---12-pallet-35-nets-10-12kg-nets-25cm-length">
                                    <img src="/images/findMore.png" style="cursor:pointer">
                                </a>
                            </div>
                        </div>
                        <div id="sell1" class="item">
                            <img src="http://www.log-delivery.co.uk/siteuploads//products/PKDLC130/log_crate_x1.jpg">
                            <h3 class="sellerTitle">Premium Kiln Dried Ash Logs 1m3 Crate</h3>
                            <div class="itemHover">
                            </div>
                            <div class="itemHoverContent">
                                <h3 class="itemHoverTitle">Premium Kiln Dried Ash Logs 1m3 Crate</h3>
                                <div class="itemHoverBody">Large 1m3 crate of Ash Hardwood Logs, is the same as a loose filled 1.5m3 bulk bag</div>
                                <a href="/product/detail/premium-kiln-dried-ash-logs-1m3-crate">
                                    <img src="/images/findMore.png" style="cursor:pointer">
                                </a>
                            </div>
                        </div>
            </div>

            <div style="clear: both;"></div>
        </div>
    </div>
    <!-- START THE FEATURETTES -->
    <div class="panel-body" style="padding-bottom: 70px;">
        <div class="col-md-8 padding0">
            <div class="bottomTreeBorder padding0 marginBottom17">
                <div>
                    <h1 class="divTitleText">LATEST NEWS</h1>
                </div>
            </div>

            <div class="panel-body padding0 newsBlock">
                        <div class="col-sm-6 padding0 paddingRight10 news">
                            <h2 class="newsTitle">Four reasons to get a wood burning oven</h2>
                            <div class="newsImgwrapper">
                                <img src="http://www.log-delivery.co.uk/siteuploads//news/wood-fired-oven-1230408_960_720.jpg" class="newsImg">
                            </div>
                            <div class="newsContent">
                                The renaissance of the wood burning oven (they’ve been around since ancient times) is no great surprise. In an age where we ‘eat clean’ and are more discerning about the flavour of our food, and cooking on a wood fired oven meets all our needs. They not only leave food tasting great, but have clear health benefits as well. 
Although most widely acknowledged as the perfect pizza oven (wood-fired pizzas are famous for combining a crispy base with doughy interior), wood burning ovens have properties which make them perfect for a wide variety of dishes and cooking styles. 

                            </div>
                            <a href="/news/newsdetail/16"> <img src="/images/findMore.png" style="cursor:pointer"></a>
                        </div>
                        <div class="col-sm-6 padding0 paddingRight10 news">
                            <h2 class="newsTitle">Our New Natural Firelighters Are Ready!</h2>
                            <div class="newsImgwrapper">
                                <img src="http://www.log-delivery.co.uk/siteuploads//news/Natural firelighters wood wool waxed dipped.JPG" class="newsImg">
                            </div>
                            <div class="newsContent">
                                We have long been listening to our customers needs and are really happy to announce that we are selling our own brand of Natural Firelighters, that are made from wood wool and dipped in wax. Printed by us on our super cool Heidelberg printer and packaged by us for that real artisan choice of eco firelighter, that actually light well and for a long time!

Our Eco Firelighters are long burning and are odourless!
                            </div>
                            <a href="/news/newsdetail/18"> <img src="/images/findMore.png" style="cursor:pointer"></a>
                        </div>
            </div>
                <div class="bottomTreeBorder padding0 marginBottom17">
                    <div>
                        <h1 class="divTitleText">WHAT OUR CUSTOMERS SAY</h1>
                    </div>
                </div>
                <div class="bxslider1">
                        <div class="testimonials">
                            The service has been excellent. I changed my order at the last minute; the process could not have been smoother. The logs were delivered exactly when promised.
                            <p class="testimonialsCustomer">Nick Hudson</p>
                                <p class="testimonialsCustomer">London</p>
                        </div>
                        <div class="testimonials">
                            Log delivery very prompt and courteous on Sunday morning. Like the 3 delivery slot options.

Many thanks
                            <p class="testimonialsCustomer">Paula</p>
                                <p class="testimonialsCustomer">Surrey</p>
                        </div>
                        <div class="testimonials">
                            Great service as always, delivery driver superb - so polite, courteous and helpful. Thanks very much.
                            <p class="testimonialsCustomer">Paula Hassett</p>
                                <p class="testimonialsCustomer">London</p>
                        </div>
                        <div class="testimonials">
                            Logs were delivered efficiently and at the time booked. I had saved a parking space but still the guys were friendly and helpful. Thank you.

The logs themselves are burning exactly as I would wish.




                            <p class="testimonialsCustomer">Anthony Calf</p>
                                <p class="testimonialsCustomer">London</p>
                        </div>
                        <div class="testimonials">
                            I wasn’t at home when my delivery arrived. The driver had left them safely near our side gate. Not sure how he got them there but I thought it was excellent service. He clearly made every effort to put it safe and dry.

Very happy.

Thank you!
                            <p class="testimonialsCustomer">Nicolai </p>
                                <p class="testimonialsCustomer">London</p>
                        </div>
                        <div class="testimonials">
                            We're very happy here at our end. Your wood burnt beautifully last night but most importantly you got our logs to us before the Arctic blast. I think quick delivery, good wood and reasonable prices are the 3 key things for customers. ​
                            <p class="testimonialsCustomer">Helen Sier</p>
                                <p class="testimonialsCustomer">South London</p>
                        </div>
                        <div class="testimonials">
                            Great to find a reliable log delivery firm - will use you again!
                            <p class="testimonialsCustomer">Oliver Fursdon</p>
                                <p class="testimonialsCustomer">NW6</p>
                        </div>
                        <div class="testimonials">
                            Many thanks for the speed with which you processed my order.

The logs arrived at 8am this morning, well within the time slot.

And the driver helpfully wheeled the logs around the side of the house, for easy stacking in the log store.

Again, thank you. I trust the logs burn as well as expected.
                            <p class="testimonialsCustomer">Chris Perkins</p>
                                <p class="testimonialsCustomer">Beckenham</p>
                        </div>
                        <div class="testimonials">
                            Your delivery man was particularly helpful, charming and articulate
                            <p class="testimonialsCustomer">J Van Walsum</p>
                                <p class="testimonialsCustomer">London</p>
                        </div>
                        <div class="testimonials">
                            This is the first time I've used Log Delivery.

The website was easy to use. 
Communication was excellent. 
The logs arrived on time. 
The driver was courteous and helpful. 
And they are clearly great quality.

I will definitely come back. 
Many thanks 
                            <p class="testimonialsCustomer">Steve</p>
                        </div>
                        <div class="testimonials">
                            Thank you once again, brilliant service, always friendly and helpful and prompt. Great logs too! Anthony was great today.

Very best 
                            <p class="testimonialsCustomer">Vicky</p>
                        </div>
                        <div class="testimonials">
                            Excellent service as always - very prompt (got me out of bed!) 
Many thanks 
                            <p class="testimonialsCustomer">Roger T</p>
                        </div>
                        <div class="testimonials">
                            So my feedback is 
Your delivery slots are great. Especially the early morning and evening slots. So few companies take account of the fact most people in London are at work 9-5. 
Thank you also for changing my slot at the last minute. 
The logs are good too.
                            <p class="testimonialsCustomer">Ricmarron</p>
                                <p class="testimonialsCustomer">London</p>
                        </div>
                        <div class="testimonials">
                            Hi,

Just a quick note to say thank you for the delivery. The driver was very helpful and polite and the logs and natural firelighters look excellent quality. Looking forward to trying them in our new fire!
                            <p class="testimonialsCustomer">Andrew</p>
                        </div>
                        <div class="testimonials">
                            Delivery experience was excellent, delivery guy was curteous, helpful provided an A1 service would definitely recommend.

Best wishes 
Gina
                            <p class="testimonialsCustomer">Grocdrayton</p>
                                <p class="testimonialsCustomer">London</p>
                        </div>
                        <div class="testimonials">
                            Such a great service. Our delivery guy was absolutely brilliant - went the extra mile to get our logs as close as possible to our back door.  That man deserves a shout out.  And great quality logs.  Thank you yet again. 
                            <p class="testimonialsCustomer">N Rogers</p>
                                <p class="testimonialsCustomer">Kingston</p>
                        </div>
                        <div class="testimonials">
                            Great service.  Logs delivered as promised and high quality logs as usual. Thanks!
                            <p class="testimonialsCustomer">C Fuhrman</p>
                                <p class="testimonialsCustomer">Walton on Thames</p>
                        </div>
                        <div class="testimonials">
                            Outstanding level of service by the person who delivered our wood.
We live in a property where access is problematic and your driver assisted and made our lives very easy Thanks so much 

                            <p class="testimonialsCustomer">M Solomann</p>
                                <p class="testimonialsCustomer">Weybridge</p>
                        </div>
                        <div class="testimonials">
                            The ordering and delivery booking service was excellent as usual, and the delivery guy today was on time, very personable and helpful. 
                            <p class="testimonialsCustomer">AM Logan</p>
                                <p class="testimonialsCustomer">Richmond</p>
                        </div>
                        <div class="testimonials">
                            Hi there – logs delivered yesterday and I would like to say how wonderful the delivery man was
He took them right thru to the back garden and afraid there were a couple of small steps but he was so helpful and kind. Thanks again – you have a great service

                            <p class="testimonialsCustomer">Mr E Coffey</p>
                                <p class="testimonialsCustomer">Teddington</p>
                        </div>
                        <div class="testimonials">
                            As before, an excellent reliable service with high quality logs delivered exactly when asked for. Thanks
                            <p class="testimonialsCustomer">R Stoker</p>
                                <p class="testimonialsCustomer">London, N19</p>
                        </div>
                        <div class="testimonials">
                            Excellent and speedy service. Very helpful and friendly. The logs were all of a similar size, clean and dry. They seem to be great quality and will use this company for future orders.
                            <p class="testimonialsCustomer">Kathy</p>
                                <p class="testimonialsCustomer">Kingston</p>
                        </div>
                        <div class="testimonials">
                            First time I have used log-delivery – Good service logs arrived when expected – excellent long lasting logs 
                            <p class="testimonialsCustomer">David Hartrup</p>
                                <p class="testimonialsCustomer">Shirley, CR0</p>
                        </div>
                        <div class="testimonials">
                            Brilliant service all round and the logs are burning a treat!  Thank you and great to be able to keep the bags to store the logs whilst we use them!
                            <p class="testimonialsCustomer">Rachel Hunt</p>
                                <p class="testimonialsCustomer">Walton on Thames</p>
                        </div>
                        <div class="testimonials">
                            Great job and fast delivery!  
                            <p class="testimonialsCustomer">C Fuhrman</p>
                                <p class="testimonialsCustomer">Walton on Thames</p>
                        </div>
                        <div class="testimonials">
                            Thanks so much for your amazing service.. First order and proper expressed from beginning to the logs getting delivered.

Will be coming back for more!

                            <p class="testimonialsCustomer">Steve</p>
                                <p class="testimonialsCustomer">Harefield </p>
                        </div>
                        <div class="testimonials">
                            Just wanted to let you know, the logs are fantastic - super dry and burn brilliantly in our little stove.  Delivery process was excellent too - we order a lot of wood online and have mixed results for various reasons, so this has been a great experience and we will order from you again in the future.
                            <p class="testimonialsCustomer">Annabel Taylor</p>
                                <p class="testimonialsCustomer">East London</p>
                        </div>
                        <div class="testimonials">
                            Thanks so much for the delivery!  Fantastic service and great value for money! Have a great Easter😀
                            <p class="testimonialsCustomer">Rachael Murphy</p>
                                <p class="testimonialsCustomer">Kingston Upon Thames</p>
                        </div>
                        <div class="testimonials">
                            Excellent service ,lovely logs See you again
                            <p class="testimonialsCustomer">Anne</p>
                                <p class="testimonialsCustomer">London</p>
                        </div>
                        <div class="testimonials">
                            Thank you.  You offer excellent service and your drivers are always very polite and helpful.  Thanks. 
                            <p class="testimonialsCustomer">Josephine </p>
                                <p class="testimonialsCustomer">London, N8</p>
                        </div>
                        <div class="testimonials">
                            Delivery this morning was very smooth and simple. Your driver was extremely
helpful and careful.

                            <p class="testimonialsCustomer">Mike Trinder</p>
                                <p class="testimonialsCustomer">North London</p>
                        </div>
                        <div class="testimonials">
                            Thank you - lovely quick delivery with polite and helpful driver . They burn nicely and love the olive wood - thank you  
                            <p class="testimonialsCustomer">Michele Gibbons</p>
                                <p class="testimonialsCustomer">Ruislip</p>
                        </div>
                        <div class="testimonials">
                            Just a few lines to say how happy I was today with my very first delivery. Best part was Barney making sure that I was still okay with the delivery time slot as I’d neglected to confirm everything on the follow up email, either way I would had got my logs so amazing customer support there, delivery arrived within the time slot arranged, driver was very pleasant and helpful. All round a fantastic service, well done everyone!  

                            <p class="testimonialsCustomer">Steve Hampsheir</p>
                                <p class="testimonialsCustomer">Stratford</p>
                        </div>
                        <div class="testimonials">
                            Absolutely brilliant! Thank you!  The polite helpful driver arrived at 07.30 and took the logs around to the log store. I am delighted with your service from start to finish and will definitely order my next logs from you and also recommend you to all my friends. Thankyou
                            <p class="testimonialsCustomer">Jill</p>
                                <p class="testimonialsCustomer">Coney Hall</p>
                        </div>
                        <div class="testimonials">
                            Really pleased.  Great delivery, on time & polite.
                            <p class="testimonialsCustomer">Ben O&#39;Brien</p>
                                <p class="testimonialsCustomer">Hanwell</p>
                        </div>
                        <div class="testimonials">
                            We took our first delivery of logs from you a few weeks ago and have been really please with the service.  The logs burn hot and clean, smell wonderful, and the silver birch looks really attractive, which is a bonus since we keep a store in our living room.  The delivery was fast and the guy who brought the logs was very helpful and friendly and offered to stack all the logs, although we didn’t need it.  

I’m just about to put in my next order.

Thanks and all the best,

                            <p class="testimonialsCustomer">Lisa</p>
                                <p class="testimonialsCustomer">East Sheen</p>
                        </div>
                        <div class="testimonials">
                            Logs were delivered fine this morning and around 7am as arranged.  I just wanted to say that the delivery guy was really great and so helpful. I didn't catch his name, but say thank you for me please.
                            <p class="testimonialsCustomer">Rebecca</p>
                                <p class="testimonialsCustomer">Epsom, KT19</p>
                        </div>
                        <div class="testimonials">
                            Thanks for the delivery, on time and no hassle. The delivery man was fantastic, polite, friendly and considerate even at 7am on a Sunday. He's a credit to your team.
                            <p class="testimonialsCustomer">Paula</p>
                                <p class="testimonialsCustomer">Guildford</p>
                        </div>
                        <div class="testimonials">
                            The delivery came on time and the driver was really helpful on a cold winter morning.
                            <p class="testimonialsCustomer">Michael</p>
                                <p class="testimonialsCustomer">Kennington</p>
                        </div>
                        <div class="testimonials">
                            Thank you very much for this morning’s delivery. 
I’ve tried out the logs already. I’m very happy with the quality – and also with the speed and ease of delivery and your great customer service. I’ll be back!

                            <p class="testimonialsCustomer">Halina</p>
                                <p class="testimonialsCustomer">London, SE24</p>
                        </div>
                        <div class="testimonials">
                            Just a brilliant company: warm and knowledge advice; quick, punctual delivery and stonkingly good quality logs. I recommend them to anyone who will listen!
                            <p class="testimonialsCustomer">Rex</p>
                                <p class="testimonialsCustomer">Harringay</p>
                        </div>
                        <div class="testimonials">
                            Just to say I've been very impressed with the quality of wood -it burns amazingly well!  And the efficiency and ease of your delivery service if fantastic. 
Thank you very much!

                            <p class="testimonialsCustomer">Victoria</p>
                                <p class="testimonialsCustomer">SE15</p>
                        </div>
                        <div class="testimonials">
                            Great service, and excellent product. Wood smells and burns very well. 
                            <p class="testimonialsCustomer">S Johnston</p>
                                <p class="testimonialsCustomer">Farnham</p>
                        </div>
                        <div class="testimonials">
                            I would just like to say a thank you again for all the help this morning in bringing our delivery down the drive. Much appreciated.
                            <p class="testimonialsCustomer">Carol Carey</p>
                                <p class="testimonialsCustomer">Bracknell</p>
                        </div>
                        <div class="testimonials">
                            This was my first order and I would like to say the delivery guy was so patient, helpful and friendly. Arrived promptly and I was very pleased. I have already started recommending log-delivery and just feel life is so easier knowing ordering logs is at a click at a button!
                            <p class="testimonialsCustomer">Cindy</p>
                                <p class="testimonialsCustomer">New Malden</p>
                        </div>
                        <div class="testimonials">
                            Thank you. A complete pleasure from start to finish.

Thank you for explaining so clearly (I’m a new stove owner), for delivering in a handle-able quantity (hard to find), and delivering so promptly and kindly!

I am actually looking forward to the winter, now..

And a very happy Christmas to  you all

                            <p class="testimonialsCustomer">Penny Hunt</p>
                                <p class="testimonialsCustomer">Wimbledon</p>
                        </div>
                        <div class="testimonials">
                            I'm so grateful for the very nice and helpful man who delivered my logs yesterday! This was a completely different experience compared to my previous with other companies. I will absolutely recommend you! Wish you a lovely day!

                            <p class="testimonialsCustomer">Arin Menes</p>
                                <p class="testimonialsCustomer">White City</p>
                        </div>
                        <div class="testimonials">
                            These logs are great! Burn really well - thank you! 

                            <p class="testimonialsCustomer">Elizabeth Megson</p>
                                <p class="testimonialsCustomer">Dulwich</p>
                        </div>
                        <div class="testimonials">
                            Really great service. Will definitely be coming back for more. Good luck with the venture!
                            <p class="testimonialsCustomer">Dan Saunders</p>
                                <p class="testimonialsCustomer">Kingston Upon Thames</p>
                        </div>
                        <div class="testimonials">
                            Logs delivered on time and the usual great quality.
                            <p class="testimonialsCustomer">Richard Williams</p>
                                <p class="testimonialsCustomer">Harringay</p>
                        </div>
                        <div class="testimonials">
                            I just wanted to send you a short note to say how courteous and helpful the chap who delivered my logs this morning was. It was much appreciated and very much inclines me towards ordering from you in the future.

                            <p class="testimonialsCustomer">Matthew</p>
                                <p class="testimonialsCustomer">Wimbledon</p>
                        </div>
                        <div class="testimonials">
                            I wanted to say thank you for the log delivery yesterday. The logs were delivered on the date and time I requested which was very helpful as I work. The guy was very kind and put all the logs into my shed for me, nothing was too much trouble.

                            <p class="testimonialsCustomer">Susan Kennedy</p>
                                <p class="testimonialsCustomer">Pinner</p>
                        </div>
                        <div class="testimonials">
                            Thanks for the delivery. I was really impressed. The driver, was awesome. Nice, polite, and put the logs on near the house so I could ferry them in. He even left me a bag to help. The wood is excellent too. So a big 5 stars for product and service.

                            <p class="testimonialsCustomer">Tim Allen</p>
                                <p class="testimonialsCustomer">North London</p>
                        </div>
                        <div class="testimonials">
                            Very happy with the service provided throughout the order. Received delivery a lot earlier than expected and will definitely use again once I get through all the wood! Thanks once again.
                            <p class="testimonialsCustomer">Nikil</p>
                                <p class="testimonialsCustomer">Teddington</p>
                        </div>
                        <div class="testimonials">
                            Thank you. Whole process awesome and delightful and helpful delivery chap ..
Didn't moan and helped stack beautifully. I am delighted .. Fire on now! 

                            <p class="testimonialsCustomer">Georgina</p>
                                <p class="testimonialsCustomer">Berks</p>
                        </div>
                        <div class="testimonials">
                            Just thought I'd give you some feedback on the delivery I had from you yesterday.

Really pleased with everything, the logs are brilliant - so much better quality/dryness than the last supplier we had and I loved the guy that delivered them, he was so nice and friendly, really helpful - nothing was too much trouble. Really happy that we've found such a great new firewood supplier - thank you.

                            <p class="testimonialsCustomer">Hayley</p>
                                <p class="testimonialsCustomer">Sheen</p>
                        </div>
                        <div class="testimonials">
                            Thank you! The logs are safely tucked away, waiting for the cold weather. Fantastic service, thank you very much.

                            <p class="testimonialsCustomer">Siobhan Sharp</p>
                                <p class="testimonialsCustomer">Walton on Thames</p>
                        </div>
                        <div class="testimonials">
                            Great stuff  thank you, arrived on time, lovely dry logs,  makes winter that little bit better; will use you again
                            <p class="testimonialsCustomer">Ian</p>
                                <p class="testimonialsCustomer">Clapham</p>
                        </div>
                        <div class="testimonials">
                            I thought the quality of service and the quality of product was great.  Friendly, helpful staff and a hassle-free delivery at a convenient time. The only painful part of the process was carrying the logs through the house!

The website gives you lots of information about what's on offer, how to order, etc. and the idea of suggesting three delivery slots worked really well.

                            <p class="testimonialsCustomer">Sarah Watson</p>
                                <p class="testimonialsCustomer">London, E11</p>
                        </div>
                        <div class="testimonials">
                            Thanks for the fuel delivery. It was better for me coming in the morning rather than the afternoon and the delivery guy couldn't have been more helpful. Will definitely use you guys next time. 
                            <p class="testimonialsCustomer">Peter Lewis</p>
                                <p class="testimonialsCustomer">London</p>
                        </div>
                        <div class="testimonials">
                            It was great on time. good value. marvellous. and a much needed hour long early morning work out for me moving half a ton of wood from the street to my woodshed, log by log...honestly, very happy. thanks.

                            <p class="testimonialsCustomer">Giles Coren</p>
                                <p class="testimonialsCustomer">London</p>
                        </div>
                        <div class="testimonials">
                            Logs are great and Barney was as well.  Super nice guy and professional.  Better logs than what I ordered from BuyFirewooddirect.co.uk.  They also weren't willing to help out with my back injury.  

 My neighbour just bought a stove so I will reach out to him about ordering a couple of pallets of loose wood as to give you more business and cut down my costs.    Enjoy the weekend.

                            <p class="testimonialsCustomer">Christopher Tancredi</p>
                                <p class="testimonialsCustomer">London</p>
                        </div>
                        <div class="testimonials">
                            Excellent service as always 
                            <p class="testimonialsCustomer">Jon Dickens</p>
                                <p class="testimonialsCustomer">London</p>
                        </div>
                        <div class="testimonials">
                            This company is fabulous as not only are they wonderfully efficient about delivery and communication but the products they offer are of excellent quality and I wholeheartedly recommend them. 
                            <p class="testimonialsCustomer">Dr Vicky Jolliffe</p>
                        </div>
                        <div class="testimonials">
                            Excellent service from initial ordering on the website (super easy), clearly defined logs and descriptions and it was great the logs arrived on time. They were put under our porch as it was raining (thank you!) and they therefore remained really dry. The silver birch logs where exactly the right size for my small fire and burn really well and smell lovely. Having tried lots of other log companies on-line (who said their logs were small and they were not), I will definitely use Log-Delivery.co.uk again.
                            <p class="testimonialsCustomer">Ashleigh</p>
                                <p class="testimonialsCustomer">North London</p>
                        </div>
                        <div class="testimonials">
                            The logs arrived on time & as described on the website. They smell great & produce lots of heat when burnt. The delivery man was very friendly, cheerful & gave a good customer service, which makes such a difference. Thank you!
                            <p class="testimonialsCustomer">Mr Paragreen</p>
                                <p class="testimonialsCustomer">London E1</p>
                        </div>
                        <div class="testimonials">
                            Wonderful service and honest people warm house I don't want to leave such a good log fire thank you.
                            <p class="testimonialsCustomer">Krithia Wildfire</p>
                                <p class="testimonialsCustomer">London SW20</p>
                        </div>
                        <div class="testimonials">
                            I would like to say how impressed we were of the service we received. I was expecting the delivery to be left at the top of our garden but when we arrived home from work we were pleasantly surprised to find the logs neatly stacked in the passage to the garden (with is down several steps ). I will certainly be using your company in the future.
                            <p class="testimonialsCustomer">Simon Earley</p>
                                <p class="testimonialsCustomer">Walton-Upon-Thames</p>
                        </div>
                        <div class="testimonials">
                            Very impressed as a first time user of Log-Delivery. From Tom who took my order, to the chap who delivered. Very good customer service, delivery came well within the 3 hr window which makes a huge change from having to stay in all day or pay extra for a rare Saturday delivery. Would definitely recommend
                            <p class="testimonialsCustomer">Jean Acheson</p>
                                <p class="testimonialsCustomer">Kingston-Upon-Thames</p>
                        </div>
                        <div class="testimonials">
                            As before we're very happy with the level service (both on the phone and from the driver) and with the quality of your logs. No fuss, excellent logs and just what you promised.
                            <p class="testimonialsCustomer">Roger Trevitt</p>
                                <p class="testimonialsCustomer">London N5</p>
                        </div>
                </div>
        </div>
        <div class="col-md-4 aside" style="padding-right: 0px;">



            <div class="bottomTwitterBorder padding0 marginBottom17">
                <div class="">
                    <h1 class="divTitleText">TWITTER</h1>
                </div>
            </div>
            <div class="leftBand">
                        <div class="panel-body tweetBorder">
                            <div class="col-xs-6 col-md-3 padding0">
                                <img src="http://pbs.twimg.com/profile_images/661269532493922305/p7-lYhiw_normal.jpg" alt="LogDelivery" title="LogDelivery" />
                            </div>
                            <div class="col-xs-12 col-md-8 padding0 tweet">
                                <span>Log-Delivery - London </span>
                                <br />
                                <a href="https://twitter.com/statuses/806074599037403136" class="text">
                                    who saw Coffee logs on TV?! https://t.co/2i9RlSoZ5d
                                </a>
                            </div>
                        </div>
                        <div class="panel-body tweetBorder">
                            <div class="col-xs-6 col-md-3 padding0">
                                <img src="http://pbs.twimg.com/profile_images/661269532493922305/p7-lYhiw_normal.jpg" alt="LogDelivery" title="LogDelivery" />
                            </div>
                            <div class="col-xs-12 col-md-8 padding0 tweet">
                                <span>Log-Delivery - London </span>
                                <br />
                                <a href="https://twitter.com/statuses/782164071147827200" class="text">
                                    RT @basilicopizzas: Our wood-fired pizza delivered free by experts. Simple, honest pricing - no hidden charges, no nasty surprises. https:/…
                                </a>
                            </div>
                        </div>
                        <div class="panel-body tweetBorder">
                            <div class="col-xs-6 col-md-3 padding0">
                                <img src="http://pbs.twimg.com/profile_images/661269532493922305/p7-lYhiw_normal.jpg" alt="LogDelivery" title="LogDelivery" />
                            </div>
                            <div class="col-xs-12 col-md-8 padding0 tweet">
                                <span>Log-Delivery - London </span>
                                <br />
                                <a href="https://twitter.com/statuses/782163009695260672" class="text">
                                    @basilicopizzas hope you enjoy the #NormandyBriquette in your #woodfired #pizzaoven at 26 Penton Street! Let us kno… https://t.co/MWBAZMNS0s
                                </a>
                            </div>
                        </div>

            </div>
            <div class="panel-body deliveryCheckBox">
                <h3>Do you qualify for Timed delivery?</h3>
                
                <div class="alignCenter">
                    <img src="images/map.png">
                </div>
                <p class="captionText">Type your postcode into the field below to see if we can deliver to you for free.</p>
                <div class="deliveryCheck">
<form Id="CheckDelivery" action="/home/checkdelivery" data-ajax="true" data-ajax-begin="CheckDeliveryBeginCall" data-ajax-method="Post" data-ajax-success="CheckDeliverySuccessCall" id="form0" method="post"><input Placeholder="Type postcode" id="PostCode" name="PostCode" type="text" value="" /><span class="field-validation-valid" data-valmsg-for="PostCode" data-valmsg-replace="true"></span>                        <a href="javascript:void(0);" id="check_delivery">
                            <img src="images/bSubmit.png" />
                        </a>
                        <span id="ErrorMessage">Invalid Postcode</span>
</form>                </div>

                <div id="check_delivery_message"></div>
            </div>
        </div>
        
    </div>
    <div class="panel-body">
        <div class="slogan alignCenter">
            NOT AROUND DURING THE WEEK?
            NOT A PROBLEM!<br />
            WE DELIVER SATURDAY AND SUNDAY TOO.
        </div>
    </div>
</div>
<!-- /.container -->
<script>
    function CheckDeliveryBeginCall() {
        //ShowLoder();
    }

    function CheckDeliverySuccessCall(result) {
        if (result.data === "Invalid") {
            $("#check_delivery_message").empty();
            $("#ErrorMessage").show();
        } else {
            $("#ErrorMessage").hide();
            if (result.result === true) {
                $("#check_delivery_message").empty();
                $("#check_delivery_message").append($("<p class='captionText'></p>").text("Your address allows for Timed Delivery"));
                $("#check_delivery_message").append("<a href='/product/kiln-dried-hardwood-logs'><img src='/images/buy_your_logs_now_btn.png'></a>");
            } else if (result.result === false) {
                $("#check_delivery_message").empty();
                $("#check_delivery_message").append($("<p class='captionText'></p>").text("Delivery is free, but is not covered by our timed delivery service. We will call you to arrange a shipping date"));
                $("#check_delivery_message").append("<a href='/product/kiln-dried-hardwood-logs'><img src='/images/buy_your_logs_now_btn.png'></a>");
            }
        }
    }

    $(document).ready(function () {
        indexPg();

        $("#check_delivery").click(function () {
            $("#CheckDelivery").submit();
        });

        $("#ErrorMessage").hide();

        $.validator.unobtrusive.parse("#checkoutaddress");

    });
</script>
    
    
<footer>
    <div class="container">
        <div class="col-sm-8 panel-body padding0 ffLinks">
            <div class="col-xs-4 padding0">
                <h3 class="footerTitle">Site Links</h3>
                <ul class="siteLinks">
                            <li><a href="/product/kiln-dried-hardwood-logs"><div>Kiln Dried Hardwood Logs</div></a></li>
                            <li><a href="/product/logs-for-pizza-ovens"><div>Logs for Pizza Ovens</div></a></li>
                            <li><a href="/product/seasoned-logs"><div>Seasoned Logs</div></a></li>
                            <li><a href="/product/log-packages"><div>Log Packages</div></a></li>
                            <li><a href="/product/smokeless-coal"><div>Smokeless Coal</div></a></li>
                            <li><a href="/product/log-stores"><div>Log Stores</div></a></li>
                            <li><a href="/product/top-ups-kindling"><div>Top Ups &amp; Kindling</div></a></li>
                    <li><a href="/areascovered">Areas Covered</a></li>
                    <li><a href="/news">News</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact </a></li>
		    <li><a href="/faqs">FAQs</a></li>
                </ul>
                
            </div>
            <div class="col-xs-4 siteLinksBox">
               
            </div>
        </div>
        <div class="col-sm-3 col-md-4 contact padding0">
            <img src="/images/whiteLogo.png">
            <ul class="footercontact">
                <li><strong>Main Office</strong></li>
                <li>Unit 7, Leylands House</li>
                <li>514 Molesey Road</li>
                <li>Walton-Upon-Thames</li>
                <li>Surrey KT12 3PW</li>
                <li>Tel: +44 (0) 20 8819 6482</li>
            </ul>
        </div>
    </div>
    <div class="container paddingTop20 paddingBottom10 siteLinks">
        <div class="col-xs-6 padding0 copyRight">©Log Delivery Limited 2017    |    <a href="/privacypolicy">Privacy Policy</a>    |    <a href="/termsandconditions">Terms & Conditions</a></div>
        <div class="col-xs-6 padding0 copyRight" style="text-align:right;">Company Reg No. 8211414 VAT No. 145175711</div>
    </div>
</footer>

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
<form action="/" enctype="multipart/form-data" id="myloginform" method="post"><div id="logincontainer">
    <div class="headTitle padding0">
        <span class="divTitleText">LOGIN</span>
        <input data-val="true" data-val-required="The Success field is required." id="Success" name="Success" type="hidden" value="False" />
        <input name="__RequestVerificationToken" type="hidden" value="khv-0_EnPaMpH0VjYOx04SxvltYgF0u-rdaHRSO8xJ6_z86ZPXOPWNQPT3c_jmIRw-3cwdgLmbSE9M0Rl7kqZNAqrB9h1VaX7Sg-yo0Zr-A1" />
    </div>
    <div class="raleWayText">To login, please fill out the form below.</div>
    <div class="credintials">
        <div class="form-group">
            <input class="form-control" data-val="true" data-val-regex="Invalid Email Address" data-val-regex-pattern="^\w+([-+.&#39;]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$" data-val-required="Email is Required." id="UserName" name="UserName" placeholder="Email*" type="text" value="" />
            <span class="field-validation-valid" data-valmsg-for="UserName" data-valmsg-replace="true"></span>            
        </div>
        <div class="form-group">
            <input class="form-control" data-val="true" data-val-required="Password is Required." id="Password" name="Password" placeholder="Password*" type="password" />
            <span class="field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
        </div>
    </div>
    <div class="panel-body padding0">
        <div class="col-xs-6 padding0"><a href=""><input type="image" class="width100" src="/images/login.png" /></a></div>
        <div class="col-xs-6 padding0"><a href="/users/register"><img class="width100" src="/images/register.png"></a></div>
    </div>
    <div class="raleWayText">Forgot Password ? <a class="yellow" onclick="$('#loginModal').modal('toggle');" data-toggle="modal" data-target="#forgotPasswordModal" href="">Click Here</a></div>
    <div class="form-group">
        <b></b>
    </div>
    <div class="panel-body bottomBorder">
        <img src="/images/topSeller.png">
    </div>        
</div></form>            </div>            
        </div>
    </div>
</div>
<script>
    $("#myloginform").submit(function () {
        var pathname = window.location.pathname; 
        var url = window.location.href;
        $.ajax({
            type: "POST",
            url: "/users/login/",
            data: $('#myloginform').serialize(),
            success: function (viewHTML) {                
                $("#logincontainer").html(viewHTML);
                var success = $("#Success").val();                
                if(success == "True")
                {
                    if (pathname === "/basket") {                      
                        window.location.href = "/checkout";
                    } else {
                       window.location.reload();
                    }                   
                }
            },
            error: function (errorData) { onError(errorData); }
        });
        return false; // avoid to execute the actual submit of the form.
    });
</script><div class="modal fade" id="forgotPasswordModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
<form action="/" enctype="multipart/form-data" id="mypasswordform" method="post"><div id="passwordcontainer">
    <div class="headTitle padding0">
        <span class="divTitleText">PASSWORD REMINDER</span>
        <input name="__RequestVerificationToken" type="hidden" value="Pg9rMfE11mvB5f0jqJPJy-ufFDto8CpThdBiXd5PnXtq72t4LuzFOHtS8_ksNYnEwRJwsUlgFUAyiEVEOW2La-A5fkdbtAHwLUaQsWIfoJw1" />
    </div>
    <div class="raleWayText">Please enter your email address and we’ll send you a password reminder to your inbox. </br>If you do not receive your password via email, please email help@log-delivery.co.uk where we will manually reset it.</div>
    <div class="credintials marginBottom20">
        <div class="form-group">
            <input class="form-control" data-val="true" data-val-regex="Invalid Email Address" data-val-regex-pattern="^\w+([-+.&#39;]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$" data-val-required="Email is Required." id="UserName" name="UserName" placeholder="Email Address*" type="text" value="" />
            <span class="field-validation-valid" data-valmsg-for="UserName" data-valmsg-replace="true"></span>
        </div>        
    </div>
    <a href=""><input type="image" src="/images/sendNow.png" /></a>
    <div class="form-group">
        <b></b>
    </div>
    <div class="panel-body bottomBorder">
        <img src="/images/topSeller.png">
    </div>
</div></form>            </div>
        </div>
    </div>
</div>
<script>
    $("#mypasswordform").submit(function () {
        $.ajax({
            type: "POST",
            url: "/users/forgotpassword/",
            data: $('#mypasswordform').serialize(),
            success: function (viewHTML) {
                $("#mypasswordform").html(viewHTML);
            },
            error: function (errorData) { onError(errorData); }
        });
        return false; // avoid to execute the actual submit of the form.
    });
</script>    <div id="AddToBasketModal" class="modal fade" role="dialog" style="display: none;">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header text-right">
                <a href="#" data-dismiss="modal">
                    <img class="paddingBottom10" src="/images/close-modal.png" alt="close"></a>
                <div class="headTitle padding0 text-left">
                    <h1 class="divTitleText">ITEM ADDED</h1>
                </div>
            </div>
            <div class="modal-body">
                <p>The item has been successfully added to your basket.</p>
            </div>
            <div class="modal-footer">
                <a href="#" data-dismiss="modal">
                    <img src="/images/continueShopping.png" width="188" height="37 alt="close"></a>
                <a href="/basket">
                    <img src="/images/checkout.png" width="188" height="37" alt="close"></a>
            </div>
            <div class="listingCategories padding0">
                <img src="/images/topSeller.png">
            </div>
        </div>
    </div>
</div>  
    <script src="/Scripts/bootstrap.js"></script>
<script src="/Scripts/respond.js"></script>

    <script src="/Scripts/jquery-ui.js"></script>
<script src="/Scripts/jquery.bxslider.js"></script>
<script src="/Scripts/scripts.js"></script>
<script src="/Scripts/ie10-viewport-bug-workaround.js"></script>
   
       <script type="text/javascript" src="/Scripts/jquery.cookie.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.cookiecuttr.js"></script> 
    <script type='text/javascript'>
        $(document).ready(function () {
            $.cookieCuttr();
        });
    </script>
    <script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-74406883-1', 'auto');
    ga('send', 'pageview');

    </script>
</body>
</html>
